body {
	background-color: black;
	color: white;
}

.title-header {
	text-align: center;
	font-size: 3em;
}

.pictureFrame {
	border-style: solid;
	border-width: 5px;
	border-color: black;
	overflow: hidden;
	display: inline-block;
}

img {
	width: 450px;
	height: 400px;
	border-style: dotted;
	border-width: 2px;
	border-color: white;
}

.name {
	text-align: center;
}